@model OTTUI.Models.Customer

@{
    ViewData["Title"] = "ForgotPassword";
}
@{
    if(@ViewBag.Password != null)
    {
        <div class="sucess">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>We Found you 🤗</strong> Your Password : <strong>@ViewBag.Password</strong> | <a asp-action="Login">Login</a>
        </div>
    }
    if(@ViewBag.Password == "Fail")
    {
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>We Found you 😕</strong> Please check your name and email ID and try again 😪
        </div>
    }

   
}
<h1 class="Heading">Forgot Password</h1>
@using (Html.BeginForm("ForgotPassword", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="SubHeading">
                                <form>
                                    <label  class="control-label">Your ID</label>
                                    <input type="number" id="Comments" name="id" size="20" />
                                    <br/>
                                    <label>Your Name</label>
                                    <input type="text" id="Comments" name="name" size="20"/>
                                    <br/>
                                    <label >Your Email</label>
                                    <input type="text" id="Comments" name="email" size="20" />
                                    <br/>
                                    <button type="submit" >Find</button>
                                </form>
                            </div>
                        }


