<div style="padding:150px">
    <h2 style="font-family: 'Roboto Mono', monospace;color:aliceblue">✔ Great ✔</h2>
    <h3 style="font-family: 'Roboto Mono';color:lightgray">Your payment sucessful .Login and get  entertained <a asp-controller="Customer" asp-action="Login">Login</a></h3>
</div>