<div style="padding:150px">
    <h2 style="font-family: 'Roboto Mono', monospace;color:aliceblue">🥴 OOPS 😵</h2>
    <h3 style="font-family: 'Roboto Mono';color:lightgray">It's not you 😵 it's us .please go back to home page or try again later <a asp-action="Index">Home</a></h3>
</div>
